<form
  class="form-container"
  #contactForm="ngForm"
  autocomplete="false"
  (ngSubmit)="onSubmit(contactForm)"
  (reset)="onReset(contactForm)"
>
  <h2 id="form-title">Formulaire de Contact</h2>
  <fieldset id="firstname-field">
    <label for="lastname">Nom</label>
    <input
      id="lastname"
      name="lastname"
      type="text"
      required
      minlength="2"
      placeholder="ex: John"
      autocomplete="false"
      [(ngModel)]="message.lastname"
      #lastname="ngModel"
    />
    <!-- gestion erreur lastname -->
    @if (lastname.errors && (lastname.dirty || lastname.touched ||
    contactForm.submitted) && submitted) { @if(lastname.errors['required']) {<span
      class="message error"
      >le nom est requis</span
    >} @if(lastname.errors['minlength']) {<span class="message error"
      >le nom doit contenir au moins 2 caractères</span
    >} }
    <!-- fin gestion erreur lastname -->
  </fieldset>
  <fieldset id="lastname-field">
    <label for="firstname">Prénom</label>
    <input
      id="firstname"
      name="firstname"
      type="text"
      required
      minlength="2"
      placeholder="ex: Doe"
      autocomplete="false"
      [(ngModel)]="message.firstname"
      #firstname="ngModel"
    />
    <!-- gestion erreur firstname -->
    @if (firstname.errors && (firstname.dirty || firstname.touched ||
    contactForm.submitted) && submitted) { @if(firstname.errors['required']) {<span
      class="message error"
      >le prénom est requis</span
    >} @if(firstname.errors['minlength']) {<span class="message error"
      >le prénom doit contenir au moins 2 caractères</span
    >} }
    <!-- fin gestion erreur firstname -->
  </fieldset>
  <fieldset id="email-field">
    <label for="email">Contact</label>
    <input
      id="email"
      name="email"
      type="email"
      required
      email
      placeholder="ex: john.doe@mail.com"
      autocomplete="false"
      [(ngModel)]="message.email"
      #email="ngModel"
    />
    <!-- gestion erreur email -->
    @if (email.errors && (email.dirty || email.touched || contactForm.submitted) && submitted)
    { @if(email.errors['required']) {<span class="message error"
      >l'adresse mail est requise</span
    >} @if(email.errors['email']) {<span class="message error"
      >Veuillez entrer un email valide</span
    >} }
    <!-- fin gestion erreur email -->
  </fieldset>
  <fieldset id="content-field">
    <label for="content">Contenu du message</label>
    <textarea
      id="content"
      name="content"
      required
      minlength="20"
      placeholder="Saisir commentaire"
      autocomplete="false"
      [(ngModel)]="message.content"
      #content="ngModel"
    ></textarea>
    <!-- gestion erreur content -->
    @if (content.errors && (content.dirty || content.touched ||
    contactForm.submitted) && submitted) { @if(content.errors['required']) {<span
      class="message error"
      >le contenu du message est requis</span
    >} @if(content.errors['minlength']) {<span class="message error"
      >le message doit contenir au moins 20 caractères</span
    >} }
    <!-- fin gestion erreur content -->
  </fieldset>

  <button type="reset" id="reset" class="btn">Restaurer</button>
  <button type="submit" id="submit" class="btn">Envoyer</button>
</form>
@if(formSubmittedWithSuccess) {
  <p class="message">formulaire soumis</p>
}
@if(submitted && !formSubmittedWithSuccess) {
  <p class="message error">Veuillez corriger les champs requis</p>
}

